.yellow-block
    &__title
        display: inline-block
        margin-bottom: 6px
        padding-left: 12px
        @include before_circle
        position: relative
        z-index: 2
    &__subtitle
        margin-bottom: 5px
    &__divider
        background-color: $main_color
        width: 60px
        height: 3px
       